<header>
    <h1>{{title}}</h1>
    <div class ="navbar">
        <p>
            <a href="/">Home </a> | <a href="/description/add">Add Description</a> | <a href="/description/view_all">View All Descriptions</a>
        </p>
    </div>
</header>