body {
  margin:auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.navbar-toggler{
  margin-top:5px;
  margin-bottom:10px;

}

#title{
  background-image: url("../images/Front.png");
  background-repeat: no-repeat;
  background-size: cover;
}