

<form method ="post", action="/description/save" class="mt-2">
    <div class="container-fluid">
        <input type ="hidden" name="saveMethod"
               value ="{{#if isCreate}}create{{else}}update{{/if}}"/>

            <div class="form-group row justify-content-center mt-2">
                <div class="col-2 text-right font-weight-bold">
                    <label class="col-form-label" for="key">Key:</label>
                </div>
                <div class=" row justify-content-center">
                    <label class="col-form-label" name="key">{{descriptionKey}}</label>

                <input type="hidden" name ="descriptionKey" value ="{{descriptionKey}}"/>
                </div>
            </div>

            <div class="form-group row justify-content-center">
                    <div class="col-2 text-right font-weight-bold">
                        <label class="col-form-label" for="title">Title:</label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" type="text" name="title"/><br/>
                    </div>
            </div>
            <div class="form-group row justify-content-center">
                <textarea class="col-11 form-control" rows=5 name="body"></textarea><br/>
            </div>
            <div class="form-group row justify-content-center">
                <input class="col-2" type="submit" value="Submit"/>
            </div>
    </div>
</form>



