<div class="container-fluid">
    <div class="row justify-content-center mt-2">

        <ul>
            {{#each descriptionList}}
                <li>{{ key }}:<a href="/description/view?key={{ key }}">{{ title }}</a></li>
            {{/each}}
        </ul>
    </div>
</div>