.center{
    text-align: center;
}
body {
    background-color: ghostwhite;
}

.center{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%;

}




.middle{
    position:absolute;
    bottom: -100px;
    left: 200px;
    z-index: 1;

}
h1, .navbar{
    text-align:center;
}
