<form method="POST" action="/description/destroy/confirm">
    <a class="container-fluid">
        <input type="hidden" name="descriptionID" value="{{descriptionID}}"/>
        <p class="form-text text-center delete-entry"> Delete {{descriptionTitle}}</p>
        <div class="form-group row justify-content-center">
            <br/> <input class="col-auto " type="submit" value="Delete"/><br/>
            <a class="mt-3 btn btn-lg btn-block btn-outline-dark"
               href="/description/view_all_description?id={{descriptionID}}"> Cancel</a>
    </div>
</form>

