<div class="container-fluid ">
    <div class="row justify-content-center mt-2">
        <h2> First Name: {{currentUser.name.first }} </h2>
    </div>
    <div class="row justify-content-center mb-4">
        <h2> Last Name:   {{currentUser.name.last}}</h2>
    </div>
    <div class="row justify-content-center mt-5">
        <h2> Email address: {{currentUser.email}}</h2>
    </div>
    <div class="row justify-content-center mt-2 ">
        <h2>Password: {{currentUser.password}}</h2>
    </div>


</div>

</div>

