<div class="container-fluid m-2">
    {{>user_messages}}
</div>

<div class="container-fluid">
    <div class="justify-content-center">
        {{#each submissionList}}
            <div class="container-md">
                <div class="cols col-sm">
                    <h2> Submission: </h2>
                    <h3> {{title}}</h3>

                        <a class=" mt-3 btn btn-lg  btn-outline-dark mt-2" href="/submission/view_submission_reg?id={{id}}"> Edit</a>

                </div>
            </div>
        {{/each}}
    </div>
</div>

