<div class="container-fluid mt-2">
    <div class="row justify-content-center">
    </div>
</div>
<div class="container-fluid m-2">
    {{> user_messages}}
</div>
<form method="post" action="/users/login">
    <div class="form-group row justify-content-center mb-0">
        <div class="col-1 col-md-3"></div>
        <div class="col-9 col-md-4 text-left font-weight-bold">
            <label class="col-form-label" for="email">Email: </label>
        </div>
        <div class="col-1 col-md-3"></div>
        <div class="col-9 col-md-4">
            <input class="form-control" id="email" type="email" name="email" placeholder="email address"/><br/>
        </div>
    </div>
    <div class="form-group row justify-content-center mb-0">
        <div class="col-1 col-md-3"></div>
        <div class="col-9 col-md-4 text-left font-weight-bold">
            <label class="col-form-label" for="password">Password: </label>
        </div>
        <div class="col-1 col-md-3"></div>
        <div class="col-9 col-md-4">
            <input class="form-control" id="password" type="password" name="password" placeholder="password"/><br/>
        </div>
    </div>
    <div class="form-group row justify-content-center">
        <input class="p-2 col-auto col-md-1" type="submit" value="Submit"/>
    </div>
    </div>
</form>